articuloApp/src/conf/xml-resources/web-service-references/ArticulosWS/wsdl/localhost_8080/WSArticuloAPP/ArticulosWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="ArticulosWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8080/WSArticuloAPP/ArticulosWS?xsd=1"/>
</xsd:schema>
</types>
<message name="RegistrarArticulo">
<part name="parameters" element="tns:RegistrarArticulo"/>
</message>
<message name="RegistrarArticuloResponse">
<part name="parameters" element="tns:RegistrarArticuloResponse"/>
</message>
<message name="ObtenerArticulosPorEstado">
<part name="parameters" element="tns:ObtenerArticulosPorEstado"/>
</message>
<message name="ObtenerArticulosPorEstadoResponse">
<part name="parameters" element="tns:ObtenerArticulosPorEstadoResponse"/>
</message>
<message name="ActualizarArticulo">
<part name="parameters" element="tns:ActualizarArticulo"/>
</message>
<message name="ActualizarArticuloResponse">
<part name="parameters" element="tns:ActualizarArticuloResponse"/>
</message>
<message name="ObtenerArticulosPorCliente">
<part name="parameters" element="tns:ObtenerArticulosPorCliente"/>
</message>
<message name="ObtenerArticulosPorClienteResponse">
<part name="parameters" element="tns:ObtenerArticulosPorClienteResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="ArticulosWS">
<operation name="RegistrarArticulo">
<input wsam:Action="http://WebServices/ArticulosWS/RegistrarArticuloRequest" message="tns:RegistrarArticulo"/>
<output wsam:Action="http://WebServices/ArticulosWS/RegistrarArticuloResponse" message="tns:RegistrarArticuloResponse"/>
</operation>
<operation name="ObtenerArticulosPorEstado">
<input wsam:Action="http://WebServices/ArticulosWS/ObtenerArticulosPorEstadoRequest" message="tns:ObtenerArticulosPorEstado"/>
<output wsam:Action="http://WebServices/ArticulosWS/ObtenerArticulosPorEstadoResponse" message="tns:ObtenerArticulosPorEstadoResponse"/>
</operation>
<operation name="ActualizarArticulo">
<input wsam:Action="http://WebServices/ArticulosWS/ActualizarArticuloRequest" message="tns:ActualizarArticulo"/>
<output wsam:Action="http://WebServices/ArticulosWS/ActualizarArticuloResponse" message="tns:ActualizarArticuloResponse"/>
</operation>
<operation name="ObtenerArticulosPorCliente">
<input wsam:Action="http://WebServices/ArticulosWS/ObtenerArticulosPorClienteRequest" message="tns:ObtenerArticulosPorCliente"/>
<output wsam:Action="http://WebServices/ArticulosWS/ObtenerArticulosPorClienteResponse" message="tns:ObtenerArticulosPorClienteResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://WebServices/ArticulosWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://WebServices/ArticulosWS/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="ArticulosWSPortBinding" type="tns:ArticulosWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="RegistrarArticulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerArticulosPorEstado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizarArticulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerArticulosPorCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ArticulosWS">
<port name="ArticulosWSPort" binding="tns:ArticulosWSPortBinding">
<soap:address location="http://localhost:8080/WSArticuloAPP/ArticulosWS"/>
</port>
</service>
</definitions>