articuloApp/src/conf/xml-resources/web-service-references/UsuariosWS/wsdl/localhost_8080/WSArticuloAPP/UsuariosWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="UsuariosWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8080/WSArticuloAPP/UsuariosWS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="ObtenerUsuario">
<part name="parameters" element="tns:ObtenerUsuario"/>
</message>
<message name="ObtenerUsuarioResponse">
<part name="parameters" element="tns:ObtenerUsuarioResponse"/>
</message>
<message name="RegistrarUsuario">
<part name="parameters" element="tns:RegistrarUsuario"/>
</message>
<message name="RegistrarUsuarioResponse">
<part name="parameters" element="tns:RegistrarUsuarioResponse"/>
</message>
<message name="ObtenerUsuarioCliente">
<part name="parameters" element="tns:ObtenerUsuarioCliente"/>
</message>
<message name="ObtenerUsuarioClienteResponse">
<part name="parameters" element="tns:ObtenerUsuarioClienteResponse"/>
</message>
<message name="ObtenerUsuarioCliente">
<part name="parameters" element="tns:ObtenerUsuarioCliente"/>
</message>
<message name="ObtenerUsuarioClienteResponse">
<part name="parameters" element="tns:ObtenerUsuarioClienteResponse"/>
</message>
<portType name="UsuariosWS">
<operation name="hello">
<input wsam:Action="http://WebServices/UsuariosWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://WebServices/UsuariosWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="ObtenerUsuario">
<input wsam:Action="http://WebServices/UsuariosWS/ObtenerUsuarioRequest" message="tns:ObtenerUsuario"/>
<output wsam:Action="http://WebServices/UsuariosWS/ObtenerUsuarioResponse" message="tns:ObtenerUsuarioResponse"/>
</operation>
<operation name="RegistrarUsuario">
<input wsam:Action="http://WebServices/UsuariosWS/RegistrarUsuarioRequest" message="tns:RegistrarUsuario"/>
<output wsam:Action="http://WebServices/UsuariosWS/RegistrarUsuarioResponse" message="tns:RegistrarUsuarioResponse"/>
</operation>
<operation name="ObtenerUsuarioCliente">
<input wsam:Action="http://WebServices/UsuariosWS/ObtenerUsuarioClienteRequest" message="tns:ObtenerUsuarioCliente"/>
<output wsam:Action="http://WebServices/UsuariosWS/ObtenerUsuarioClienteResponse" message="tns:ObtenerUsuarioClienteResponse"/>
</operation>
<operation name="ObtenerUsuarioCliente">
<input wsam:Action="http://WebServices/UsuariosWS/ObtenerUsuarioClienteRequest" message="tns:ObtenerUsuarioCliente"/>
<output wsam:Action="http://WebServices/UsuariosWS/ObtenerUsuarioClienteResponse" message="tns:ObtenerUsuarioClienteResponse"/>
</operation>
</portType>
<binding name="UsuariosWSPortBinding" type="tns:UsuariosWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerUsuarioCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerUsuarioCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsuariosWS">
<port name="UsuariosWSPort" binding="tns:UsuariosWSPortBinding">
<soap:address location="http://localhost:8080/WSArticuloAPP/UsuariosWS"/>
</port>
</service>
</definitions>