Java/pruebaArticulo/src/conf/xml-resources/web-service-references/ClientesWS/wsdl/localhost_8080/WSArticuloAPP/ClientesWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:element name="ActualizarCliente" type="tns:ActualizarCliente"/>

<xs:element name="ActualizarClienteResponse" type="tns:ActualizarClienteResponse"/>

<xs:element name="ObtenerClientePorUsuarioId" type="tns:ObtenerClientePorUsuarioId"/>

<xs:element name="ObtenerClientePorUsuarioIdResponse" type="tns:ObtenerClientePorUsuarioIdResponse"/>

<xs:element name="RegistrarCliente" type="tns:RegistrarCliente"/>

<xs:element name="RegistrarClienteResponse" type="tns:RegistrarClienteResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="RegistrarCliente">
<xs:sequence>
<xs:element name="cliente" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="tns:estadosUsuario" minOccurs="0"/>
<xs:element name="foto" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:respuestaWS" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="respuestaWS">
<xs:sequence>
<xs:element name="mensaje" type="xs:string" minOccurs="0"/>
<xs:element name="objetoRespuesta" type="xs:anyType" minOccurs="0"/>
<xs:element name="tipo" type="tns:tiposRespuestaWS" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarCliente">
<xs:sequence>
<xs:element name="cliente" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:respuestaWS" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ObtenerClientePorUsuarioId">
<xs:sequence>
<xs:element name="usuarioId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ObtenerClientePorUsuarioIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:respuestaWS" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="estadosUsuario">
<xs:restriction base="xs:string">
<xs:enumeration value="Activo"/>
<xs:enumeration value="Inactivo"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="tiposRespuestaWS">
<xs:restriction base="xs:string">
<xs:enumeration value="Fallida"/>
<xs:enumeration value="Exitosa"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>